@import "@/assets/fonts/fonts.scss";

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #fcfcfc;
}

.container {
    max-width: 1280px;
    margin: auto;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.nino-mkhedruli {
    font-family: "BPG Nino Mkhedruli Book";
}

.spacer {
    flex: 1;
}

.line {
    border-bottom: 0.5px solid #e9ebee;
}
