@import '@/assets/fonts/fonts.scss';
@use './pagination';

html {
	scroll-behavior: smooth;
}

body {
	background: #fcfcfc;
	overflow-x: hidden;
}

.container {
	max-width: 1280px;
	margin: auto;

	&:not(:last-child) {
		margin-bottom: 15px;
	}
}
.spacer {
	flex: 1;
}
.line {
	border-bottom: 0.5px solid #e9ebee;
}
.red {
	color: #fc0000;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 1.25rem;
	margin-bottom: 56px;
}
.not-mobile {
	@media only screen and (max-width: 600px) {
		display: none !important;
	}
}
