@font-face {
	font-family: 'BPG Nino Mkhedruli Book';
	src: url('/src/assets/fonts/BPG_Nino_Mkhedruli_Book/bpg_nino_mkhedruli_book.ttf');
}
@font-face {
	font-family: 'DejaVu Sans';
	src: url('/src/assets/fonts/DejaVu_Sans/bpg_dejavu_sans.ttf');
}

@font-face {
	font-family: 'Noto Sans Georgian';
	src: url('/src/assets/fonts/Noto_Sans_Georgian/NotoSansGeorgian-VariableFont_wdth\,wght.ttf');
}
